<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Sign In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:include="fragments :: stylesheets" />
  </head>
  <body>
    <form th:action="@{/site/signin}" th:object="${signinForm}" method="post">
      <div class="row m-5 p-3 col-sm-4 card">
        <h4 class="card-title mb-4 mt-1">Sign In</h4>
        <div th:if="${not #strings.isEmpty(error)}">
          <p th:text="${error}" class="text-danger"></p>
        </div>
        <div class="form-group">
          <label class="col-form-label col-md-5" for="username">Username</label>
          <div th:each="item : ${radioUsername}" class="form-check-inline">
            <input
              type="radio"
              class="form-check-input ml-3"
              th:text="${item.value}"
              th:value="${item.key}"
              th:field="*{username}"
            />
          </div>
        </div>
        <div class="form-group d-grid">
          <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
      </div>
    </form>
  </body>
</html>
